
<section>
  <figure>
    <img src="http://placekitten.com/g/960/320" alt="Figure Example">
    <figcaption>
      Kitten it is
    </figcaption>
  </figure>
</section>

<section>
  <iframe width="420" height="315"
  src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0">
  </iframe>
</section>

<section>
<video id="homeVideo" controls src="http://video.wixstatic.com/video/ed0ad3_f09ae89417094933a14a0247fe16df0f/1080p/mp4/file.mp4" poster="//static.parastorage.com/services/wix-homepage-v3/1.115.0/images/home.jpg" style="width: 500px;">
            Video tag not supported.
        </video>
</section>

<section>
<audio controls preload="auto" src="//static.wixstatic.com/preview/e8bba7_0a0ab593645e488a8ff035853e6275c3-128.mp3"></audio>
</section>

