
<section>
  <h1 class="other-class">Tables</h1>
    <!--
    From the HTML spec (http://www.w3.org/TR/html401/struct/tables.html)

    TFOOT must appear before TBODY within a TABLE definition so that user agents can
    render the foot before receiving all of the (potentially numerous) rows of data.
    The following summarizes which tags are required and which may be omitted:

    The TBODY start tag is always required except when the table contains only one
    table body and no table head or foot sections. The TBODY end tag may always be
    safely omitted.

    The start tags for THEAD and TFOOT are required when the table head and foot sections
    are present respectively, but the corresponding end tags may always be safely
    omitted.

    Conforming user agent parsers must obey these rules for reasons of backward
    compatibility.
    -->
  <table border="1">
    <caption>This is a caption for a table</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#999-32ac</td>
        <td>First Name</td>
        <td>13 May, 2013</td>
        <td>999 Spruce Lane, Somewhere, CA 94101</td>
      </tr>
      <tr>
        <td>#888-32dd</td>
        <td>Sample Name</td>
        <td>17 May, 1984</td>
        <td>999 Spruce Lane, Somewhere, CA 94101</td>
      </tr>
    </tbody>
    <tfoot>
      Table footer info
    </tfoot>
  </table>
</section>

<section>
<!--
http://www.w3.org/html/wg/drafts/html/master/text-level-semantics.html#the-samp-element
-->
  <h1 class="other-class">Samp</h1>
<samp>
  <pre>
      /Sites/html master  ☠ ☢
      $  <kbd>ls -gto</kbd>

      total 104
      -rw-r--r--   1   10779 Jun  5 16:24 index.html
      -rw-r--r--   1    1255 Jun  5 16:00 _config.yml
      drwxr-xr-x  11     374 Jun  5 15:57 _site
      -rw-r--r--   1    1597 Jun  5 14:16 README.md
      drwxr-xr-x   5     170 Jun  5 14:15 _sass
      -rw-r--r--   1     564 Jun  4 15:59 Rakefile
      drwxr-xr-x   6     204 Jun  4 15:59 _includes
      drwxr-xr-x   4     136 Jun  4 15:59 _layouts
      drwxr-xr-x   3     102 Jun  4 15:59 _resources
      drwxr-xr-x   3     102 Jun  4 15:59 css
      -rw-r--r--   1    1977 Jun  4 15:59 favicon.icns
      -rw-r--r--   1    6518 Jun  4 15:59 favicon.ico
      -rw-r--r--   1    1250 Jun  4 15:59 touch-icon-ipad-precomposed.png
      -rw-r--r--   1    2203 Jun  4 15:59 touch-icon-ipad-retina-precomposed.png
      -rw-r--r--   1    1046 Jun  4 15:59 touch-icon-iphone-precomposed.png
      -rw-r--r--   1    1779 Jun  4 15:59 touch-icon-iphone-retina-precomposed.png
    </pre>
  </samp>
</section>

